  <footer class="footer-container">
    <div class="primary-nav-container">
      <nav aria-label="Forest Service links navigation">
        <ul class="footer-primary-nav">
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/visit" target="_blank"
            class="usa-footer-primary-link">Visit Us</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/managing-land" target=
            "_blank" class="usa-footer-primary-link">Managing the
            Land</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/learn" target="_blank"
            class="usa-footer-primary-link">Learn</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/science-technology"
            target="_blank" class="usa-footer-primary-link">Science
            and Technology</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/working-with-us"
            target="_blank" class="usa-footer-primary-link">Working
            with Us</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/about-agency" target=
            "_blank" class="usa-footer-primary-link">About the
            Agency</a>
          </li>
          <li class="footer-primary-nav-item">
            <a href="https://www.fs.usda.gov/inside-fs" target=
            "_blank" class="usa-footer-primary-link">Inside the
            FS</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="secondary-container">
      <div class="secondary-nav-container">
        <nav aria-label="Footer navigation">
          <ul class="footer-secondary-nav">
            <li class="footer-secondary-nav-item">
              <a href=
              "https://ask.usda.gov/s/?utm_source=USDA&amp;utm_medium=homepage&amp;utm_campaign=homepage%20referrals"
              target="_blank" class="footer-nav-text">askUSDA</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://ask.usda.gov/s/contactsupport"
              target="_blank" class="footer-nav-text">Contact
              Us</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/sitemap" target=
              "_blank" class="footer-nav-text">Site Map</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/policies-and-links"
              target="_blank" class="footer-nav-text">Policies &
              Links</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/our-agency/about-usda/performance"
              target="_blank" class="footer-nav-text">Our
              Performance</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/our-agency/careers"
              target="_blank" class="footer-nav-text">Careers</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://usdaoig.oversight.gov/resources/contractor-fraud"
              target="_blank" class="footer-nav-text">Report Fraud
              on USDA Contracts</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://usdaoig.oversight.gov/" target=
              "_blank" class="footer-nav-text">Visit OIG</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/plain-writing" target=
              "_blank" class="footer-nav-text">Plain Writing</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/open" target="_blank"
              class="footer-nav-text">Open</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/ogc/office-information-affairs/foia-division"
              target="_blank" class="footer-nav-text">FOIA</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/accessibility-statement"
              target="_blank" class="footer-nav-text">Accessibility
              Statement</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/privacy-policy" target=
              "_blank" class="footer-nav-text">Privacy Policy</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/non-discrimination-statement"
              target="_blank" class=
              "footer-nav-text">Non-Discrimination Statement</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/oascr/civil-rights-statements"
              target="_blank" class=
              "footer-nav-text">Anti-Harassment Policy</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/ocio/guidelines-and-compliance-resources/information-quality-activities"
              target="_blank" class="footer-nav-text">Information
              Quality</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usa.gov/" target="_blank" class=
              "footer-nav-text">USA.gov</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.whitehouse.gov/" target="_blank"
              class="footer-nav-text">Whitehouse.gov</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href=
              "https://www.usda.gov/federal-web-site-inventory"
              target="_blank" class="footer-nav-text">eGov</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="mailto:feedback@oc.usda.gov" target="_blank"
              class="footer-nav-text">Feedback</a>
            </li>
            <li class="footer-secondary-nav-item">
              <a href="https://www.usda.gov/nofear" target="_blank"
              class="footer-nav-text">No FEAR Act Data</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="tertiary-container">
      <div class="footer-branding-container">
        <div class="footer-logos"><img src=
        "/assets/img/site-wide/usda.svg" alt="USDA" class=
        "fs-footer-logo"><img src=
        "/assets/img/site-wide/usfslogo.svg" alt=
        "US Forest Service" class="fs-footer-logo"></div>
        <div class="fs-usda-names-container">
          <span class="fs-name">Forest Service</span> <span class=
          "usda-name desktop">U.S. DEPARTMENT OF AGRICULTURE</span>
          <span class="usda-name mobile">U.S.D.A.</span>
        </div>
      </div>
      <div class="social-links">
        <a href="https://twitter.com/forestservice" class=
        "social-link"><img src=
        "/assets/img/site-wide/social-icon-twitter.svg" alt=
        "Twitter" target="_blank" class=
        "usa-social-image"></a><a href=
        "https://www.facebook.com/USForestService/" class=
        "social-link"><img src=
        "/assets/img/site-wide/social-icon-facebook.svg" alt=
        "Facebook" target="_blank" class=
        "usa-social-image"></a><a href=
        "https://www.youtube.com/user/usdaForestService" class=
        "social-link"><img src=
        "/assets/img/site-wide/social-icon-youtube.svg" alt=
        "YouTube" target="_blank" class=
        "usa-social-image"></a><a href=
        "https://www.flickr.com/photos/usforestservice/" class=
        "social-link"><img src=
        "/assets/img/site-wide/social-icon-flickr.svg" alt="Flickr"
        target="_blank" class="usa-social-image"></a><a href=
        "https://www.instagram.com/u.s.forestservice/" class=
        "social-link"><img src=
        "/assets/img/site-wide/social-icon-instagram.svg" alt=
        "Instagram" target="_blank" class="usa-social-image"></a>
      </div>
    </div>
  </footer>

