  <header id="header" role="banner" class= "usa-header usa-header-extended">
    <div class="header-container">
      <section class="banner-container">
        <div class="content-container">
          <header>
            <div class="header-container">
              <img src="/assets/favicons/favicon-57.png" alt=
              "U.S. flag" class="us-flag">
              <div class="banner-text">
                <span class="banner-text">An official website of
                the United States government</span>
                <button _ngcontent-tdb-c45="" class="banner-expand-btn">
                    <div style= "display: flex; flex-direction: row; align-items: center; justify-content: center;">
                    <p class="banner-expand-text">Heres how you know</p>
                    <div class="arrow down-arrow"></div>
                </button>
              </div>
            </div>
          </header>
        </div>
      </section>
      <div class="primary-container">
        <div class="header-left">
          <img src="../../../assets/img/site-wide/usda.png" alt=
          "US Forest Service" class="usda-logo"><img src=
          "/assets/img/site-wide/usfslogo.svg" alt=
          "US Forest Service" class="fs-logo">
          <div class="fs-usda-container desktop">
            <div class="fs-name">
              Forest Service
            </div>
            <div class="usda-name">
              U.S. DEPARTMENT OF AGRICULTURE
            </div>
          </div>
        </div>
        <div class="vert-divider desktop"></div>
        <div class="header-right">
          <span>Special Forest Product&nbsp;E‑Permits</span>
        </div><button class=
        "menu-btn mobile">MENU</button>
      </div>
      <div class="secondary-container">
        <nav aria-label="Header navigation" class= "nav-container">
          <ul class="nav">
            <li class="primary-nav-item">
               <a href="/" class="nav-link usa-current" tabindex= "0">Home</a>
            </li>
            <li class="primary-nav-item">
              <a href="/about" class="nav-link usa-current" tabindex="0">About</a>
            </li>
            <li class="primary-nav-item">
              <a href="/faq" class="nav-link usa-current" tabindex="0">FAQ</a>
            </li>
            <li class="primary-nav-item">
              <a href="/feedback" class="nav-link usa-current" tabindex="0">Give Feedback</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


