<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A front door for the public to apply for Forest Service Special Use permits">

  <title>{{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href= "/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href= "/assets/favicons/favicon-16x16.png">
  <link rel="mask-icon" href= "/assets/favicons/safari-pinned-tab.svg" color="#2c1e13">
  <meta name="theme-color" content="#ffffff">

  <meta name="keywords" content="Forest Service, permitting, permits, christmas trees, national forest, national forests">

  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" type="text/css" href="/fonts.css" />

  <link rel="preload" as="image" href="/assets/img/firewood.webp">

  <script type="text/javascript" src="/assets/uswds/js/uswds-init.js"></script>
</head>
<body class="forest-service">
  <script type="text/javascript" src="/assets/uswds/js/uswds.js"></script>

  {% include 'header.html' %}

  <main id="main-content" class="browser-validation-main-content">
    {{ content | safe }}
  </main>

	{% include 'footer.html' %}

</body>
</html>
